
services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Rawat@123
#      MYSQL_DATABASE: ecomm_microservices
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-multi-db.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend


  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    environment:
      PMA_HOST: mysql-db
      PMA_USER: root
      PMA_PASSWORD: Rawat@123
    ports:
      - "8081:80"
    networks:
      - backend

  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

#  ecommerce-app:
#    image: sauravkumarr/ecommerce-microservices
#    container_name: ecommerce-app
#    restart: unless-stopped
#    depends_on:
#      - mysql-db
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/ecomm_microservices
#      SPRING_DATASOURCE_USERNAME: root
#      SPRING_DATASOURCE_PASSWORD: Rawat@123
#    ports:
#      - "8080:8080"   # Expose your app on localhost:8080
#    networks:
#      - backend

  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    restart: unless-stopped
    ports:
      - "5672:5672"   # RabbitMQ broker port
      - "15672:15672" # RabbitMQ management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - backend


  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"
    networks:
      - backend


  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    restart: always
    networks:
      - backend

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.7
    container_name: keycloak
    # The 'start-dev' argument goes here
    command: start-dev
    # Environment variables from your -e flags
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: "false"       # Allow access via localhost AND keycloak
      KC_HOSTNAME_STRICT_HTTPS: "false" # Allow HTTP for internal communication
      KC_HTTP_ENABLED: "true"           # Enable port 8080
    # Port mapping from your -p flag (127.0.0.1 limits access to localhost only)
    ports:
      - "8443:8080"
    networks:
      - backend
    volumes:
      - ./../../keycloak-data:/opt/keycloak/data/h2

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - backend

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - backend

  config-server:
    build: ../../configserver
    container_name: config-server
    ports:
      - "8888:8888"
    networks:
      - backend
    environment:
      - SPRING_CLOUD_CONFIG_SERVER_NATIVE_SEARCH_LOCATIONS=/config
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
    volumes:
      - ./../../configserver/src/main/resources/config:/config
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  eureka:
    build: ../../eureka
    container_name: eureka
    ports:
      - "8761:8761"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  gateway-service:
    build: ../../gateway
    container_name: gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      eureka:
        condition: service_started
      keycloak:
        condition: service_started
      config-server:
        condition: service_healthy
    networks:
      - backend

  user-service:
    build: ../../user
    container_name: user-service
    ports:
      - "8087:8087"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - MONGO_URI=${MONGO_URI}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_started
      eureka:
        condition: service_started
      keycloak:
        condition: service_started
      config-server:
        condition: service_healthy
    networks:
      - backend

  product-service:
    build: ../../product
    container_name: product-service
    ports:
      - "8086:8086"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
    depends_on:
      mysql-db:
        condition: service_started
      phpmyadmin:
        condition: service_started
      rabbitmq:
        condition: service_started
      eureka:
        condition: service_started
      keycloak:
        condition: service_started
      config-server:
        condition: service_healthy
    networks:
      - backend

  order-service:
    build: ../../order
    container_name: order-service
    ports:
      - "8085:8085"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST=${RABBITMQ_VHOST}
    depends_on:
      mysql-db:
        condition: service_started
      phpmyadmin:
        condition: service_started
      rabbitmq:
        condition: service_started
      eureka:
        condition: service_started
      keycloak:
        condition: service_started
      config-server:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mysql_data: