server:
  port: 8080
spring:
  application:
   name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-service
              uri: http://localhost:8086
              predicates:
                - Path=/api/products/**
            - id: user-service
              uri: http://localhost:8087
              predicates:
                - Path=/api/users/**
            - id: order-service
              uri: http://localhost:8085
              predicates:
                - Path=/api/orders/**, /api/cart/**
# http://localhost:8080/api/users -> http://localhost:8085/api/users
logging:
  level:
    root: info
    org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
    org.springframework.cloud.gateway: TRACE

management:
  endpoints:
    web.exposure:
      include: "*"
  tracing:
    sampling:
      probability: 1.0


