
server:
  port: 8085

spring:
  datasource:
   url: jdbc:mysql://localhost:3306/order_service
   username: ${DB_USER}
   password: ${DB_PASSWORD}


#jpa configuration
  jpa:
   show-sql: true

#for creating and update schemas and tables
   hibernate:
     ddl-auto: update
     database-platform: org.hibernate.dialect.MySQLDialect


  rabbitmq:
   host: ${RABBITMQ_HOST:localhost}
   port: ${RABBITMQ_PORT:5672}
   username: ${RABBITMQ_USERNAME:guest}
   password: ${RABBITMQ_PASSWORD:guest}
   virtual-host: ${RABBITMQ_VHOST:guest}
   connection-timeout: 30000
rabbitmq:
  exchange:
    name: order.exchange
  queue:
    name: order.queue
  routing:
    key: order.tracking


management:
  endpoints:
   web.exposure:
    include: "*"
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
  tracing:
    sampling:
      probability: 1.0

app:
  message: "Hello Order!"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7
# Circuit Breaker
resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: count_based

  retry:
    instances:
     retryBreaker:
       maxAttempts: 5
       waitDuration: 500ms
  ratelimiter:
   instances:
    rateBreaker:
     timeout-duration: 0
     limit-refresh-period: 4s
     limit-for-period: 2





