
server:
  port: 8085

spring:
  datasource:
   url: jdbc:mysql://localhost:3306/order_service
   username: ${DB_USER}
   password: ${DB_PASSWORD}


#jpa configuration
  jpa:
   show-sql: true

#for creating and update schemas and tables
   hibernate:
     ddl-auto: update
     database-platform: org.hibernate.dialect.MySQLDialect


  rabbitmq:
   host: localhost
   port: 5672
   username: guest
   password: guest

management:
  endpoints:
   web.exposure:
    include: "*"

app:
  message: "Hello Order!"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7