server:
  port: 8086
spring:
  datasource:
    url: jdbc:mysql://mysql-db/product_service
    username: ${DB_USER}
    password: ${DB_PASSWORD}

#jpa configuration
  jpa:
    show-sql: true

#for creating and update schemas and tables
    hibernate:
      ddl-auto: update
      database-platform: org.hibernate.dialect.MySQLDialect

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000

management:
  endpoints:
    web.exposure:
      include: "*"
  tracing:
    sampling:
      probability: 1.0

app:
  message: "Hello Product!"

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7