
server:
  port: 8087

spring:
  data:
   mongodb:
    uri: ${MONGO_URI}
    database: user_service
#spring.datasource.url=jdbc:mysql://localhost:3306/user_service
#spring.datasource.username=root
#spring.datasource.password=Rawat@123

#jpa configuration
#spring.jpa.show-sql=true

#for creating and update schemas and tables
#spring.jpa.hibernate.ddl-auto=update
#spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000

management:
  endpoints:
    web.exposure:
      include: "*"
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7

# KEYCLOAK

keycloak:
  admin:
    username: user
    password: Rawat@1234
    server-url: http://localhost:8443
    realm: ecom-microservices
    client-id: admin-cli
    client-uid: 1fd019da-e2df-4be9-9cc6-91ce3d7ccbf1
