
server:
  port: 8087

spring:
  data:
   mongodb:
    uri: ${MONGO_URI}
    database: user_service
#spring.datasource.url=jdbc:mysql://localhost:3306/user_service
#spring.datasource.username=root
#spring.datasource.password=Rawat@123

#jpa configuration
#spring.jpa.show-sql=true

#for creating and update schemas and tables
#spring.jpa.hibernate.ddl-auto=update
#spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web.exposure:
      include: "*"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7