server:
  port: 8080
spring:
  application:
   name: consumer

eureka:
  client:
    serviceUrl:
     defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true